/**
 * Custom normilize.
 */

body {
	font-family: $primary-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    transition: $transition;
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

ul,
ol {
    margin: 0;
    padding: 0;
}

li {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

button, %button {
    border: 0;
    border-style: none;
    outline: 0;
    cursor: pointer;
    transition: $transition;
    &:focus {
        outline: 0;
    }
}

label {
    font-weight: normal;
    margin-bottom: 0;
}

input {
    border-radius: 0;
    outline: none;
}

textarea {
    border-radius: 0;
    outline: none;
}

