/**
 * Typography
*/

.heading {
    @for $i from 1 through length($column-list) {
        $column-item: nth($column-list, $i);
        $item: nth($heading-font-size, $i);
        @if($i == 1) {
            font-size: $item;
        } @else {
            @include breakpoint($column-item) {
                font-size: $item;
            }
        }
    }
}

.subheading {
    @for $i from 1 through length($column-list) {
        $column-item: nth($column-list, $i);
        $item: nth($subheading-font-size, $i);
        @if($i == 1) {
            font-size: $item;
        } @else {
            @include breakpoint($column-item) {
                font-size: $item;
            }
        }
    }
}

